    
    <form method="POST">
        <h1>I have TO DO: </h1>
        <br>

        <h4>Priority level: (ASAP, TAKE MY TIME, WHENEVER, etc.)</h4>
        <input type="text" name="priority" <% priority %> >

        <h4>Date:</4>
        <input type="text" name="date"  <% date %> >

        <h4>What do you have to do?: </h4>
        <input type="text" name="activity_to_do" <% activity_to_do %> >
        <br>
        <br>
        <input type="submit" /> 📝 
        <br>

    </form>


